@mixin hover {
  &:hover {
    @content;
  }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin transform($transform...){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin button-base {
  cursor: pointer;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-family: inherit;
  user-select: none;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex: 1 0 0;
  @include transition(opacity 0.3s ease-in-out);
}

@mixin button {
  @include button-base;
  font-size: $font-size-sm;
  line-height: 1.7;
  padding: 7px 10px;

  @media (min-width: $media-min) {
    padding: 7px 25px;
    font-size: $font-size-lg;
  }

}